.widget {
  background: $color-light-blue-1;
  margin-bottom: $xl-size;
}

.widget__message {
  color: $color-off-white;
  margin: 0;
  text-align: center;
  padding: $l-size;
  border-bottom: solid 1px lighten($color-light-blue-1, 10%)
}

.widget-header {
  background: $color-light-blue;
  color: $color-off-white;
  display: flex;
  justify-content: space-between;
  padding: $m-size;
}

.widget-header__title {
  margin: 0;
}