// Color
$color-off-black: #20222b;
$color-off-white: #a5afd7;
$color-dark-blue: #333745;
$color-light-blue: #3c4251;
$color-light-blue-1: #464b5e;
$color-light-purple:  #8357c5;

// Font Size
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

// Breakpoint
$desktop-breakpoint: 45rem;